@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0; 
}

/* .header_name{
    color:aliceblue;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
    font-size: 30px; 
} */

.container{
    display:flex;
    margin-top:2rem;
    margin-left:3rem;
}

.header_logo{
    float:left;
}

.nav-panel{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:1rem;
}

.nav-panel ul{
    display:flex;
    flex-direction:row;
    text-align:center;
    gap:1.5rem;
}

.nav-panel a{
    color:#FFF;
    text-decoration: none;
    margin-left:1.5rem;
}


 
.Linkssize li{
    padding: 10px;
    font-size: 25px;
    color:aquamarine;
    

}
.Linkssize a{
    color:aquamarine;
     text-decoration: none;

}
.Linkssize a:hover{
    color:rgb(146, 127, 255);
    

}
.Linkssize img{
    padding: 10px;
    font-size: 25px;

}
main{
    display: flex ;
    flex-direction: column;
    /* width: 60rem; */
    margin: 0 auto;
    margin-top: 100px;
}

body{
background: linear-gradient(#1682e6,#1102e4);
font-family: "Montserrat", sans-serif;
}


.no-bullet {
    list-style-type: none; /* Убираем маркировку */
}
.Form2{
    background: linear-gradient(#8517ff,#16e6ca);
    color:rgb(255, 255, 255);
font-size: 25px; margin-bottom: 20px;
order:3;
}
/* label{
  
  display:block; 
} */
input[type="submit"]{
width: 200px;
height: 60px;
font-size: 20px;
border-radius: 16px;
}
.tablicaa{
    /* width:100%; */
color: aliceblue; order:1;
border-spacing: 5px ;
background: linear-gradient(#8517ff,#d40be7);
margin-bottom: 50px;
}
table{
    /*border-collapse: separate;*/

    width:100%;
    color: aliceblue; order:1;    
    border-spacing: 2px ;
    font-size: 10px;
    margin: auto;
}
th, td{
padding: 2px;}
tr:nth-child(odd){
    background-color: rgb(60, 210, 30);
}
tr:nth-child(even){
    background-color: rgb(42, 165, 159);
}


footer{
    width: 100%;
    background-color: rgb(42, 165, 159);
    margin-top: 100px;
padding-top: 30px;
padding-bottom: 120px ;}
.ui{  font-size: 30px;
    padding:40px;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    
  
}
@media (min-device-width: 768px){
.container{
    display:flex;
    text-direction:row;
}
    
.tablicaa{
color: aliceblue; order:2;
}
.headertable {
    margin-left: auto ;
    background-color:#8517ff;


    flex-direction: row;
    padding: 1rem;

}
.headertable ul {
    margin-top: 1rem ;
    background-color:#8517ff;

    display: flex;
    flex-direction: row;
    padding: 1rem;
    
}
.Linkssize{
    order:1;
}
.tablicaa{
 order:2;
}
table{
    /*border-collapse: separate;*/
width:100%;
color: aliceblue; order:1;
background: linear-gradient(#8517ff,#d40be7);
padding: 1rem;    
border-spacing: 5px ;
font-size: 25px;

}
.Form2{
    background: linear-gradient(#8517ff,#16e6ca);
    color:rgb(255, 255, 255);
font-size: 25px; margin-bottom: 20px;
order:3;
}
main{
    width: 960px;
    margin: 0 auto;
margin-top: 100px;
display: flex ;
flex-direction: column;
text-align: center;
list-style-position: inside;
gap:2rem;
}
}








